body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: #ff5662;
  --primary-color-darker: #ff0013;
  --secondary-color: #1d52ff;
  --tertiary-color: #383b4a;
  --shadow-color: rgba(64, 64, 64, 0.7);
  --nav-item-height: 64px;
  --section-width: 750px;
  --container-width: 100%;
  --nav-container-width: 900px;
  --nav-mobile-height: 38px;
  line-height: 1.5;
}

a {
  color: var(--secondary-color);
}

#container,
nav {
  margin-left: auto;
  margin-right: auto;
}

#container {
  max-width: var(--container-width);
  position: relative;
}

nav {
  max-width: var(--nav-container-width);
}

#nav-container,
#nav-container-mobile {
  box-shadow: 0 0 16px 0 var(--shadow-color);
  margin-bottom: 48px;
}

#nav-container-mobile {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

nav ul li:not(:first-of-type) a {
  color: var(--primary-color);
  font-weight: bold;
  transition: background-color 0.2s ease;
}

nav ul li:not(:first-of-type) a:hover,
nav ul li:not(:first-of-type) a.active {
  background-color: var(--primary-color);
  color: white;
  transition: none;
}

#nav-container,
nav ul li {
  height: var(--nav-item-height);
}

nav ul li img {
  margin-left: auto;
  margin-right: auto;
  height: 48px;
}

#container section {
  max-width: var(--section-width);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 0 var(--shadow-color);
  padding: 16px;
  margin-bottom: 32px;
}

#container .call-to-action h1 {
  display: block;
  background-color: var(--secondary-color);
  margin: 0 0 8px 0;
}

#container .call-to-action {
  box-shadow: 0 0 8px 0 var(--shadow-color);
  position: absolute;
  right: 64px;
  top: 0;
  width: 200px;
  background-color: white;
}

#container section h1 {
  margin: 0 0 16px 0;
  color: white;
  background-color: var(--primary-color);
  padding: 12px;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
}

#container section h2 {
  margin: 0 0 16px 0;
  color: var(--primary-color);
  font-size: 18px;
  display: inline-block;
}

#container section p {
  margin: 0;
}

#container section .paragraph-image {
  float: left;
  width: 256px;
  margin: 0 16px 16px 0;
}

#container section ul {
  margin: 0;
}

#container section p:not(:last-of-type) {
  margin: 0 0 16px 0;
}

#container section p b {
  color: var(--primary-color-darker);
}

#call-to-action-dialog,
#nav-drawer-mobile {
  display: none;
}

#call-to-action-dialog.invisible,
#nav-drawer-mobile.invisible {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 1400px) {
  #container .call-to-action {
    right: 16px;
    bottom: 16px;
    top: auto;
    margin: 0;
    position: fixed;
  }
}

@media only screen and (max-width: 700px) {
  #nav-container {
    display: none;
  }

  #call-to-action-dialog {
    display: block;
    position: fixed;
    z-index: 150;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  #nav-drawer-mobile {
    display: block;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #nav-drawer-mobile nav {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 128px;
    right: 0;
    box-shadow: 0 0 16px 0 var(--shadow-color);
  }

  #nav-drawer-mobile ul {
    display: flex;
    flex-direction: column;
  }

  #nav-drawer-mobile ul li:first-child {
    margin: 8px 0 8px 0;
  }

  #nav-drawer-mobile ul li,
  #nav-drawer-mobile ul li a {
    height: 48px;
  }

  #call-to-action-dialog .content-window {
    padding: 8px;
    background-color: white;
    box-shadow: 0 0 16px 0 var(--shadow-color);
    margin-top: 50%;
    position: relative;
  }

  #call-to-action-dialog .close-button {
    top: 8px;
    right: 8px;
    position: absolute;
    fill: var(--tertiary-color);
  }

  #call-to-action-dialog h1 {
    font-size: 18px;
    color: var(--secondary-color);
    margin: 0 0 16px 0;
  }

  #call-to-action-dialog p {
    margin: 0;
  }

  #container .call-to-action {
    display: none;
  }

  #nav-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-mobile-height);
    border-bottom: 2px solid var(--primary-color);
    position: fixed;
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
  }

  #nav-container-mobile a.call-to-action-mobile {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 12px;
    font-size: 18px;
    height: 16px;
    color: white;
    line-height: 16px;
    text-decoration: none;
  }

  #nav-container-mobile .menu-button {
    display: flex;
    fill: var(--tertiary-color);
  }

  #container {
    padding-top: 96px;
  }

  #nav-container-mobile img {
    height: var(--nav-mobile-height);
  }

  #container section .paragraph-image {
    width: 128px;
  }
}
